html {
    box-sizing: border-box;
    min-height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

h2 {
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 2rem;
}

/** MeDIA Object **/
.comment-container {
    display: flex;
    align-items: flex-start;
}

.avatar {
    margin-right: 1rem;
}

.second-level {
    background-color: #e1e1e1;
    padding: 1rem;
}

/** Fixed Footer at the bottom **/
.page {
    max-width: 800px;
    margin: 0 auto;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.page>* {
    padding: 1rem;
}

.page .heading {
    background-color: #CDDC39;
}

.page .main-content {
    background-color: #B3DFD8;
    flex: 1;
}

.page .footer {
    background-color: #212121;
    color: white;
}